body {
    background-color: #282828;
    color: #fff;
}

.cabecalho {
    height: 80px;
    background-color: #000;
    display: flex;
    justify-content: space-between;
    /* espaço entre elementos horizontalmente */
    align-items: center;
    /* alinhar verticalmente */
    padding: 20px 80px 20px 80px;
    /*cima, direita, baixo, esquerda */
    border-bottom: 10px solid #000;
    /*linha solida 1pixel de largura da com do hexa*/
}

/* seleção de decendente classe .logo dentro de uma classe .cabecalho*/
.cabecalho .logo {
    display: flex;
    /* flex direction row por padrao que poe os itens em linha por padrao */
    gap: 15px;
    /* da um espaçaemento entre elementos de uma tag*/

}

.cabecalho .menu {
    display: flex;
    gap: 15px;
}

.cabecalho .menu li a {
    padding: 30px;
    color: #e8e8e8;
    font-size: 20px;
    font-family: 'chalet', sans-serif;

}


/* :hover pseudoclasse de estilização quando o cursor passa sobre o elemento*/
.cabecalho .menu li a:hover {
    border-bottom: 8px solid #fff;
}

.home {
    display: flex;
    position: relative;
    min-height: calc(100vh - 30px);
    /* altura minima 100vh (view port height, ou seja a altura da janela) - 80 pixel do cabeçalho*/
}


/* o :: chamasse pseudo-elemento é como se vc estivesse criando um elemento html pelo css*/

/* after é algo  que vem depois*/
.home::after {
    content: '';
    position: absolute;
    /*é como se ele ficassena frente de todos elementos na página */
    height: 100%;
    width: 100%;
    background: linear-gradient(90deg, rgba(0, 0, 0, .85), rgba(0, 0, 0, .7)35%, transparent 65%);
}

.home .imagem-fundo {
    width: 100%;
    object-fit: cover;
    /*propriedade que trabalha na imagem para que ela se adeque e n se quebre em proporção */
}

.home .informacoes {
    position: absolute;
    /* remove o elemento do fluxo da pagina (a hierarquia do html) */
    z-index: 1;
    /*Define a ordem de um elemento posicionado quanto menor o valor mais relevancia na página (z eixo de profundidade)*/
    min-height: calc(100vh - 80px);
    /* o 100vh só funciona na tag pai*/
    display: flex;
    flex-direction: column;
    /* direção em coluna*/
    justify-content: center;
    /* centralizado no eixo vertical*/
    gap: 32px;
    padding: 80px 80px 80px 170px;
    max-width: 780px;

}

.home .informacoes img {
    width: 150px;
    max-width: 150px;

}

.home .informacoes .lista-de-jogos {
    display: flex;
    justify-content: first baseline;
    padding: 0px 50px 0px 50px;
    gap: 50px;
}

.home .informacoes h1 {
    font-family: 'chaletcomprime';
    font-size: 55px;
}

.home .informacoes .texto {
    font-family: 'Chalet';
    font-size: 18px;
    line-height: 1.6; /*altura da linha superior n precisa de px*/
}

.home .informacoes .btn-comprar {
    font-family: 'ChaletComprime';
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px 40px;
    border: 1px solid #fff;
    text-align: center;
    font-size: 28px;
    text-transform: uppercase;
    width: 50%;
    transition:all .1s ease-in; /*transição de todos elementos de 0.2 segundos / essa é uma transição suave msm quando o cursor sai de cima do elemento*/
}

.btn-plataformas {
    font-family: 'ChaletComprime';
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px 20px;
    text-align: center;
    font-size: 28px;
    text-transform: uppercase;
    transition:all .1s ease-in;
    width: 100%;
    border-radius: 4px;
}

.btn-plataformas {
    flex-direction: column;
    width: 75%;
    cursor:pointer;
    transition: all .1s ease-in;
    align-items: center;
    border: none;
}




.btn-plataformas ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 20px;
    display: none;
    opacity:0;
}

.btn-plataformas .plataformas.ativo{
    display: flex;
    opacity: 1;
}

.btn-plataformas ul li {
    padding: 20px;
    
}


/* essa pseudoclasse :nth-child() estiliza a primeira ou demais tags filhas de uma tag pai em ordem hierarquica */
.btn-plataformas ul li:nth-child(1) {
    border:1px solid #00439c;
    transition:all .1s ease-in
}
.btn-plataformas ul li:nth-child(1):hover {
    background-color: #00439c;
}


.btn-plataformas ul li:nth-child(2) {
    border:1px solid #387a26;
    transition:all .1s ease-in;
}
.btn-plataformas ul li:nth-child(2):hover{
    background-color: #387a26;
}

.btn-plataformas ul li:nth-child(3) {
    transition:all .1s ease-in;
    border:1px solid #00439c;}
.btn-plataformas ul li:nth-child(3):hover {
    background-color: #00439c;
}


.btn-plataformas ul li:nth-child(4) {
    transition:all .1s ease-in;
    border:1px solid #387a26;}
.btn-plataformas ul li:nth-child(4):hover{
    background-color:#387a26;
}


.btn-plataformas ul li:nth-child(5) {
    border:1px solid #fcaf17;
    transition:.2s ease-in;
}
.btn-plataformas ul li:nth-child(5):hover{background-color: #fcaf17;}

.home .informacoes .btn-comprar:hover {
    background-color: #fff;
    color: #000;
}

.compre-ja .capa-do-jogo {
    width: 270px;
}

.compre-ja {
    display:flex;
    flex-direction: column;
    text-align:center;
    padding:50px 50px 90px 50px;
    align-items: center;
}

.compre-ja .titulo {
    font-family:'chaletcomprime';
    font-size:50px;
    font-weight: 700; /*não se coloca o px*/
    margin-bottom:50px;
}

.compre-ja .cartao {
    display: flex;
    flex-direction: column;
    align-items:center;
    width: 50%;
    border-radius: 10px;
    padding: 80px;
    gap: 25px;
    background-color: black;
}

.compre-ja .informacoes {
    display:flex;
    flex-direction:column;
    gap: 30px;
}

.compre-ja .cartao .informacoes ul {
    display: flex;
    gap: 32px;
    flex-wrap: wrap; /* quando n tiver espaço ele quebra os itens para baixo*/
    justify-content: center ;
}
.compre-ja .informacoes h3 {
    font-family:'chaletcomprime';
    font-size:52px;
}

.compre-ja .informacoes p {
    font-family: 'chalet';
    color: #e8e8e8;
    line-height:1.6;
}


